<template class="dashboard">
    <mdc-layout-grid mdc-body1 class="dashboard">
        <mdc-layout-grid-inner>
            <mdc-layout-grid-cell span="4">
                <div mdc-menu-surface-anchor>
                    <mdc-text-field ref="site1Input" placeholder="Not virtual"></mdc-text-field>
                    <mdc-lookup options.bind="items" display-field="label" value-field="id" hoist-to-body
                      value.bind="itemId" input.bind="site1Input" preload-options></mdc-lookup>
                  </div>
            </mdc-layout-grid-cell>
            <mdc-layout-grid-cell span="4">
                <div mdc-menu-surface-anchor>
                    <mdc-text-field ref="site2Input" placeholder="Virtual"></mdc-text-field>
                    <mdc-lookup options.bind="items" display-field="label" value-field="id" hoist-to-body
                      value.bind="itemId" input.bind="site2Input" preload-options virtual></mdc-lookup>
                  </div>
            </mdc-layout-grid-cell>
        </mdc-layout-grid-inner>
    </mdc-layout-grid>
</template>